body{
    width: 96%;
    height: 100%;
  
}
header h1{
    width: 94%;
    height: 38px;
    margin: 20px;
    padding: 9px 46px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: #ffcc00;
}
header{
    position: fixed;
    width: 94%;
    top: 0px;
    height: 38px;
    margin: 20px;

}
#header-nav{
    margin-top: -65px;

}
#header-nav ul li {
    float: right;
    margin-top: -10px;
}
#header-nav ul li a {
    text-decoration: none;
    padding: 10px;
    padding-right: 23px;
    color: white;
}
main{
    padding-top: 70px;
}
#img-main{
    margin-left: 105px;
    margin-top: 44px;
    margin-bottom: 37px; 
    width: 157px;
    float: left;
}
#par-main{
    float: right;
    margin: 50px;
}
#claer
{
    clear: both;
}
main{
    display: inline-block;
}
#cv{
    text-decoration:none;
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: 5%;

}
#info{
    margin: 50px;
}
h2 {
    font-weight: bold;
    text-decoration: black;
}
#div-img{
    text-align: center;
}
/* .grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    }
.grid-item{
    border: 1px;
    padding: 20px;
    text-align: center;
    } */
.grid-container{
    width: 100%;
    height: 400px;
    }
.grid-item{
    width: 29%;
    padding: 0px 20px;
    float: left;
    margin-right: 11px;
    text-align: center;
    height: 227px;
    font-size: 17px;
    margin-top: 0px;
    } 
li {
        padding: 4px;
        margin: 4px;
    }
.icon-top{
    position: sticky;
    bottom: 20px;
    width: 40px;
}

#icon-top{
    width: 20px;
    height: 20px;
    padding: 20px;
}
#img-main2{
    width: 30px;
    padding-bottom: 40px;


}
footer{
    text-align: center;
    background-color:#ffcc00;
    width: 100%;
    height: 60px;
    margin-left: 20px;
}   
footer p{
    height: 38px;
    margin: -32px;
    padding-top: 10px;
}
.social{
    width: 20px;
    height: 20px;
    padding: 20px;
}

