body{
    width: 100%;
    height: 100%;
}
header h1{
    width: 100%;
    height: 38px;
    margin: 20px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color:#ffcc00;
    

}
#header-nav{
    margin-top: -53px;

}
#header-nav ul li {
    float: right;
    margin-top: -10px;
}
#header-nav ul li a {
    text-decoration: none;
    padding: 10px;
    padding-right: 23px;

    color: white;

}
#img-main{
    margin: 79px;
    width: 157px;
}
#par-main{
    float: right;
    margin: 50px;
    
}
main{
    display: inline-block;
}
#cv{
    text-decoration:none;
    background-color: #ffcc00;
    padding: 10px;
    border-radius: 20px;
    text-align: center;

}
#info{
    margin: 50px;
}
h2 {
    
    font-weight: bold;
    text-decoration: black;
}
#div-img{
    text-align: center;
}
.grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    }
.grid-item{
    border: 1px;
    padding: 20px;
    text-align: center;
    }

footer{
    text-align: center;
    background-color:#ffcc00;
    width: 100%;
    height: 60px;
}   
footer p{
    height: 38px;
    margin: -32px;
    padding-top: 10px;
}
.social{
    width: 20px;
    height: 20px;
    padding: 20px;
}

